/* MAIN COLORS */
$mainBlue: #001C7B;
$variantBlue: #2D4596;

$lightGray: #E0E0E0;
$darkerGray: #CBCBCB;
$lightYellow: #EAAC4C;

/* FONT COLORS */
$fontBlue: #001C7B;
$fontGray: #5E5E5E;
$fontGrayDark: #464646;