#app > header{
    background: $mainBlue;
    font-family: $secondaryFont;
    height: 60px;
    > picture{
        float: left;
        img{
            filter: brightness(0) invert(1);
            padding: 8px 20px 0;
        }
    }
    #menu{
        float: right;
        position: relative;
        #mainNav{
            float: left;
            padding-right: 50px;
            a{  
                display: inline-block;
                font-size: 12px;
                padding: 24px 15px;
            }
            .selected{
                background: #fff;
                color: $fontBlue;
            }
        }

        #userLogin{
            border-left: 1px #fff solid;
            float: left;
            height: 60px;
            width: 170px;
            picture{
                float: left;
                padding: 15px 20px 0 30px;
            }
            p{
                font-size: 12px;
                line-height: 20px;
                padding: 12px 20px 0 0;
            }
        }
        @media (max-width: 768px) {
            display: none;
            box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
            top: 60px;
            width: 130px;
            position: fixed;
            z-index: 10;
            background: #fff;
            right: 0;
            &.active{
                display: block;
            }
            #mainNav{
                border-bottom: 1px $fontGrayDark solid;
                padding: 5px 0;
                width: 100%;
                a{  
                    color: $fontBlue;
                    font-size: 16px;
                    padding: 10px 20px;
                    width: 100%;
                }
                .selected{
                    background: $mainBlue;
                    color: #fff;
                }
            }
            #userLogin{
                height: auto;
                width: 100%;
                picture{
                    display: none;
                }
                p{
                    color: $fontBlue;
                    font-size: 16px;
                    line-height: 30px;
                    padding: 10px 20px;
                    width: 100%;
                }
            }
        }
    }
    .menuToggle{
        background: transparent url('./assets/images/icon-mobile.png') no-repeat center center;
        position: absolute;
        right: 15px;
        top: 15px;
        display: none;
        width: 30px;
        height: 30px;
        @media (max-width: 768px) {
            display: inline-block;
        }
    }
    .close {
        background: none;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 31px;
            width: 2px;
            background-color: #fff;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        @media (min-width: 768px) {
            display: none;
        }
    }
}